/* 
	Internet and Web Technologies Coursework-2
	Submitted by Vignesh Prasad (13717879) 
*/

h2 {
  text-align: center;
}

.hidden {
  display: none;
}

#oscar-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 3px;
}

#oscar-form > div:not(:last-child) {
  margin-right: 3px;
}

#oscar-form > input[type='checkbox']:not(:checked) + label {
  color: #888;
}

#oscar-form > div > input:not(input[type='checkbox']):not(input[type='radio']) {
  display: block;
}

#oscar-form > div > input[type='radio']:not(:last-of-type) {
  margin-right: 12px;
}

#results > table {
  width: 100%;
}

#results > table > tbody > tr {
  display: grid;
  grid-template-columns: 0.7fr 1fr 2.4fr 1.4fr 0.5fr;
}

#results > table > tbody > tr:first-child {
  border: 1px solid #ccc;
  background-color: #ccc;
}

#results > table > tbody > tr:not(:first-child) {
  border-bottom: 1px solid #ccc;
}

#results > table > tbody > tr > th {
  display: inline;
  text-align: start;
  padding: 6px;
}

#results > table > tbody > tr > td {
  padding: 3px;
  border-left: 1px solid #ccc;
}

#results > table > tbody > tr > td:last-child {
  border-right: 1px solid #ccc;
}
